/* Top Level */

html {
    min-height: 100%;    
}

body{
    background: linear-gradient(180deg, #4B4B53 29.86%, #383861 58.73%, #3A5581 98.44%);
    background-repeat: no-repeat;
    background-size: auto;
}

header{
    padding-top: 2%;
}

section{
    text-align: center;
    min-height: calc(100%);
}

footer{
    vertical-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 50px;
}

nav{
    width: 65%;
    float: right;
    padding: 2%;
}

ul{
    list-style-type: none;
    float:right;
    margin-left: auto;
}

/* Classes */

.inline-block{
    display: inline-block;
    vertical-align: bottom;
}

.logo{
    width: 20%;
    padding-left: 2.5%;
    text-align: center;    
    vertical-align: center;
}

div.left{
    float: left;
}

div.right{
    float: right;
}

img.padded{
    padding-right:34px;
}

/* Buttons and Cards (eventually) */
a.buttonLink{
    text-decoration: none;
}

.buttons{
    text-align: center;    
    margin-top:3%;
}

.buttons2{
    padding:50px;
    padding-top:0;
    text-align: center;
}

.block{    
    display: block;
}

button.listBlue{
    display: block;
    width: 400px;
    height: 102px;
    /*left: 270px;
    top: 737px;*/
    background: #E6EEFC;
    border: 1px solid #2656A3;
    box-sizing: border-box;
    border-radius: 25px;
    color: #2656A3;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    cursor: pointer;
}

button.listBlue:hover{
    background: #2656A3;
    border: 1px solid #E6EEFC;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: #E6EEFC;
}

button.listBlue1:hover span {
    display:none
}
button.listBlue1:hover:before {
    content:"Improve user navigation through information architecture."
}

button.listBlue2:hover span {
    display:none
}
button.listBlue2:hover:before {
    content:"A mobile app to designed enable book sharing."
}

button.listBlue3:hover span {
    display:none
}
button.listBlue3:hover:before {
    content:"Boost volunteer aquisition and retention with site clarity."
}

button.listPurple{
    display: block;
    width: 400px;
    height: 102px;
    /*left: 793px;
    top: 513px;*/
    background: #E6E6FF;
    border: 1px solid #6060A1;
    box-sizing: border-box;
    border-radius: 25px;
    color: #6060A1;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    cursor: pointer;
}

button.listPurple:hover{
    background: #6060A1;
    border: 1px solid #E6E6FF;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: #E6E6FF;
}

button.listPurple1:hover span {
    display:none
}
button.listPurple1:hover:before {
    content:"Unifies the branding of an internal knowledge base."
}

button.listPurple2:hover span {
    display:none
}
button.listPurple2:hover:before {
    content:"Assists employees addressing credit union members."
}

button.listPurple3:hover span {
    display:none
}
button.listPurple3:hover:before {
    content:"Breakdown of a dashboard for new call center agents."
}

/* Typography */

h1{
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
}

h2{
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;    
    color: #E6EEFC;
}

li.nav{
    padding-right: 77px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color:#FFFFFF;
}

li.nav:hover{
    text-decoration: underline;
}

li.navEnd{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color:#FFFFFF;
}

li.navEnd:hover{
    text-decoration: underline;
}

p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #D3DDED;
}

p.intro{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 33px;
    color: #E6EEFC;
    align-items: center;
    text-align: center;
    width: 75%;
    height: 123px;
    left: 362px;
    top: 209px;
    display: flex;
    align-items: center;
    margin: auto;
}